S3method(plot,healthvis)
export(accuracyTableVis)
export(listHealthVis)
export(survivalVis)
export(writeBody)
export(writeD3AccuracyTable)
export(writeD3AccuracyTableCss)
export(writeD3Survival)
export(writeD3SurvivalCss)
export(writeForm)
export(writeHeader)
export(writePage)
export(writeValidate)
