#main path {
    stroke: #000;
    stroke-width: ", line.size ,"px;
    fill: none;
}
.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: lightgrey;
}

.x.axis .minor {
    stroke-opacity: .5;
}

.x.axis path {
    display: none;
}

.y.axis line {
    stroke: lightgrey;
}

.y.axis path {
//fill: none;
    stroke: #000;
    stroke-width: ", axis.size ,"px;
}
