#main path {
    stroke: #000;
    stroke-width: ", line.size ,"px;
    fill: none;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 12px;
}