{% extends "base.html" %}

{% block style_block %}
<link rel="stylesheet" type="text/css" href="/static/css/accuracy_table.css">
{% endblock %}

{% block content %}
<div class="page-header">
<h1>{{ obj.title }}</h1>
<p>created with the <a href="http://healthvis.org">healthvis</a> R package
and powered by <a href="http://d3js.org">Data Driven Documents</a></p>
</div>

<div class="row">
<div class="span8" id="main">
</div>

<div class="span4">
<form class="form-horizontal" action="#" id="covariate-form">
    <fieldset>
    {% for field_name in field_names %}
        {% set field = form[field_name] %}
       <div class="control-group">
        <label class="control-label">{{ field_name }}</label>
        <div class="controls">{{ field|safe }}</div>
      </div>
    {% endfor %}
    </fieldset>
</form>
</div>
</div>
{% endblock %}

{% block tail_script %}
<script src="/static/js/accuracy_table.js"></script>
<script>
$(document).ready(function () {
    console.log('is this being run at all?')
    $('#covariate-form :input').change(function () {
        console.log('Made it to the change function')
        if ($('#covariate-form').valid()) {
            console.log('Is valid');
            var newcov = $('#covariate-form').serializeArray();
            console.dir(newcov);
            fig_update(newcov);
        } else {
            console.log('Not valid')
        }
    });
});

$(document).ready(function() {
    $('#covariate-form').validate({
        rules: {
            {% for field_name in field_names %}
                {% set field = form[field_name] %}
                {{ field_name }}: {
                   required: true,
                   range: [{{ field.min }}, {{ field.max }}]
                },
            {% endfor %}
        }
    });
});
</script>
{% endblock %}