<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta lang="en">
    {% block title %} <!-- plot title will go here --> {% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-2.0.2.min.css" />
    {% block style_block %} <!-- page-specific css here --> {% endblock %}
    <script src="/static/js/lib/modernizr-2.5.3.min.js"></script>
    {% block head_script %} <!-- defer-incompatible JS block --> {% endblock %}
</head>

<body>
<div class="container" id="maincontent">
    {% block content %} <!-- main content here --> {% endblock %}

    {% set plot_id = obj.key().id() %}
    {% if not obj.saved %}
    <a class="btn btn-primary" href=" {{ url_for('save', id=plot_id) }}">
        <i class="icon-ok icon-white"></i>
      Save to HealthVis
    </a>
    {% else  %}
    <p>Permalink: <a href="{{ url_for('display', id=plot_id, _external=True) }}">{{ url_for('display', id=plot_id, _external=True) }}</a></p>
    {% endif %}
</div>

<footer>
    <div id="footer" class="container">
        {% block footer %} {% endblock %}
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.js"></script>
<script src="/static/js/lib/bootstrap-2.0.3.min.js"></script>
<script src="http://d3js.org/d3.v2.js"></script>
{% block tail_script %} <!-- defer-compatible JS block --> {% endblock %}

<script>
    $(document).ready(function () {
        $('#covariate-form :input').change(function () {
            if ($('#covariate-form').valid()) {
                var newcov = $('#covariate-form').serializeArray();
                fig_update(newcov);
            } else {
                console.log('Not valid')
            }
        });
    });

    $(document).ready(function() {
        $('#covariate-form').validate({
            rules: {
        {% for field_name in field_names %}
            {% set field = form[field_name] %}
            {{ field_name }}: {
            required: true,
                    range: [{{ field.min }}, {{ field.max }}]
        },
        {% endfor %}
    }
    });
    });
</script>
</body>
</html>