<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta lang="en">
    <title>{{ obj.title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-2.0.2.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/{{ obj.type }}.css">
    {% block style_block %} <!-- page-specific css here --> {% endblock %}
    <script src="/static/js/lib/modernizr-2.5.3.min.js"></script>
    {% block head_script %} <!-- defer-incompatible JS block --> {% endblock %}
</head>

<body>
<div class="container-fluid" id="maincontent">
    {%  block header_block %} <!-- header goes in here -->{% endblock %}
    {%  block plot_block %} <!-- plot goes in here --> {% endblock %}
    {% block content_tail %} <!-- plot tail goes in here -->{% endblock content_tail %}

</div>

<footer>
    <div id="footer" class="container">
        {% block footer %} {% endblock %}
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.js"></script>
<script src="/static/js/lib/bootstrap-2.0.3.min.js"></script>
<script src="http://d3js.org/d3.v2.js"></script>
<script src="/static/js/healthvis.js"></script>
{% block init_healthvis %} <!-- healthvis call goes here --> {% endblock %}
<script src="/static/js/{{ obj.type }}.js"></script>

<script>
    healthvis.setParamsURL("{{ url_for('get_params', id=plot_id) }}");
    healthvis.visualize();
</script>

{% block tail_script %} <!-- defer-compatible JS block --> {% endblock %}

<script>
    $(document).ready(function() {
        $('#covariate-form').validate({
            rules: {
        {% for field_name in obj.var_names %}
            {% set field = form[field_name] %}
            {% if field.validated %}
                {{ field_name }}: {
                required: true,
                        range: [{{ field.min }}, {{ field.max }}]
            },
            {% endif %}
        {% endfor %}
            }
        });
    });

    function fnDeSelect() {
        if (document.selection) document.selection.empty();
        else if (window.getSelection) window.getSelection().removeAllRanges();
    }

    function fnSelect(objid) {
        fnDeSelect();
        if (document.selection) {
            var range = document.body.createTextRange();
            range.moveToElementText(document.getElementById(objid));
            range.select();
        } else if (window.getSelection) {
            var range = document.createRange();
            range.selectNode(document.getElementById(objid));
            window.getSelection().addRange(range);
        }
    }


    $('#embedurl').on('show', function() {
        fnSelect('embedurl');
    });

    $('#embedurl').on('hide', function() {
        fnDeSelect();
    })
</script>
</body>
</html>