<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta lang="en">
    <title>{{ obj.title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-2.0.2.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/{{ obj.type }}.css">
    {% block style_block %} <!-- page-specific css here --> {% endblock %}
    <script src="/static/js/lib/modernizr-2.5.3.min.js"></script>
    {% block head_script %} <!-- defer-incompatible JS block --> {% endblock %}
</head>

<body>
<div class="container" id="maincontent">
    <div class="page-header">
        <h1>{{ obj.title }}</h1>
        <p>created with the <a href="http://healthvis.org">healthvis</a> R package
            and powered by <a href="http://d3js.org">Data Driven Documents</a></p>
    </div>

    <div class="row">
        <div class="span8" id="main">
        </div>

        <div class="span4">
            <form class="form-horizontal" action="#" id="covariate-form">
                <fieldset>
                    {% for field_name in obj.var_names %}
                        {% set field = form[field_name] %}
                        <div class="control-group">
                            <label class="control-label">{{ field_name }}</label>
                            <div class="controls">{{ field|safe }}</div>
                        </div>
                    {% endfor %}
                </fieldset>
            </form>
        </div>
    </div>

    {% block content %} <!-- main content here --> {% endblock %}

    {% if not obj.saved %}
    <a class="btn btn-primary" href=" {{ url_for('save', id=plot_id) }}">
        <i class="icon-ok icon-white"></i>
      Save to HealthVis
    </a>
    {% else  %}
    <p>Permalink: <a href="{{ url_for('display', id=plot_id, _external=True) }}">{{ url_for('display', id=plot_id, _external=True) }}</a></p>
    {% endif %}
</div>

<footer>
    <div id="footer" class="container">
        {% block footer %} {% endblock %}
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.js"></script>
<script src="/static/js/lib/bootstrap-2.0.3.min.js"></script>
<script src="http://d3js.org/d3.v2.js"></script>

<script>
    function healthvisParams() { return "{{ url_for('get_params', id=plot_id) }}"}
</script>
<script src="/static/js/{{ obj.type }}.js"></script>

{% block tail_script %} <!-- defer-compatible JS block --> {% endblock %}

<script>
    $(document).ready(function () {
        $('#covariate-form :input').change(function () {
            if ($('#covariate-form').valid()) {
                var newcov = $('#covariate-form').serializeArray();
                fig_update(newcov);
            } else {
                console.log('Not valid')
            }
        });
    });

    $(document).ready(function() {
        $('#covariate-form').validate({
            rules: {
        {% for field_name in obj.var_names %}
            {% set field = form[field_name] %}
            {% if field.validated %}
            {{ field_name }}: {
                    required: true,
                    range: [{{ field.min }}, {{ field.max }}]
            },
            {% endif %}
        {% endfor %}
    }
    });
    });
</script>
</body>
</html>