{%  extends "base.html" %}

{% block header_block %}
<div class="page-header">
    <h1>{{ obj.title }}</h1>
    <p>created with the <a href="http://healthvis.org">healthvis</a> R package
        and powered by <a href="http://d3js.org">Data Driven Documents</a></p>
</div>
{% endblock %}

{%  block healthvis_call %}
<script>
    {% if obj.saved %}
    var url = "{{ url_for('get_params', plotid=plot_id) }}",
        saved = true;
    {% else %}
     var saved = false,
         url = "{{ obj.d3params }}";
    {% endif %}

    healthvis.initialize(saved, url, '#main', null);
    healthvis.visualize();
</script>
{%  endblock %}

{% block plot_block %}
<div class="row">
    <div class="span8" id="main">
    </div>

    <div class="span4">
        <form class="form-horizontal" action="#" id="covariate-form">
            <fieldset>
                {% for field_name in obj.var_names %}
                    {% set field = form[field_name] %}
                    <div class="control-group">
                        <label class="control-label">{{ field_name }}</label>
                        <div class="controls">{{ field|safe }}</div>
                    </div>
                {% endfor %}
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}

{% block content_tail %}
{% if not obj.saved %}
    <button type="button" class="btn-primary" id="savebtn">
        <i class="icon-ok icon-white"></i>
        Save to HealthVis
    </button>
{% else  %}
    <p>Permalink: <a href="{{ url_for('display', plotid=plot_id, _external=True) }}">{{ url_for('display', plotid=plot_id, _external=True) }}</a></p>
    <button type="button" class="btn" data-toggle="collapse" data-target="#embedurl">Embed</button>
    <div id="embedurl" class="collapse">{{ '<iframe width="700" height="535" src="' + url_for('embed', plotid=plot_id, _external=True) + '" frameborder="0"></iframe>' }}</div>
{% endif %}
{% endblock content_tail %}




{% block tail_script %}
<script>
    function fnDeSelect() {
        if (document.selection) document.selection.empty();
        else if (window.getSelection) window.getSelection().removeAllRanges();
    }

    function fnSelect(objid) {
        fnDeSelect();
        if (document.selection) {
            var range = document.body.createTextRange();
            range.moveToElementText(document.getElementById(objid));
            range.select();
        } else if (window.getSelection) {
            var range = document.createRange();
            range.selectNode(document.getElementById(objid));
            window.getSelection().addRange(range);
        }
    }


    $('#embedurl').on('show', function() {
        fnSelect('embedurl');
    });

    $('#embedurl').on('hide', function() {
        fnDeSelect();
    });

    $(document).ready(function() {
        $('#savebtn').click(function() {
            //TODO: find safer way to construct url
            var url = '/save/' + "{{ plot_id }}" + '/' + $('#covariate-form').serialize();
            console.log(url)
            window.location.replace(url);
        })
    })
</script>
{% endblock tail_script%}
