export(accuracyTableVis)
export(heatmapVis)
export(iconArrayVis)
export(listHealthVis)
export(pairedVis)
export(survivalVis)
exportClasses(healthvis)
exportMethods(initialize)
exportMethods(plot)
importMethodsFrom(graphics,plot)
